*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{

--MainColor :#0D0E43 ;
--SecondaryColor:#FB2E86;
--MainFont: "Lato", sans-serif;
}
.container{
width: calc(100% - 220px);
margin:auto;
}
header{
    font-family: var(--MainFont);
    padding: 3px;
  
    align-items: center;
}
.row
{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.btn{
    font-family: var(--MainFont);
    border: none;
    outline: none;
color: white;
background-color: var(--MainColor);
padding : 16px 40px;
}

nav ul{
    
    display: flex;
gap :36px;
}
li{

    list-style: none;
}
li a{
    text-decoration: none;
}
li a{
color: var(--MainColor);

}
li a.Home{
    color: var(--SecondaryColor);
}
.SearchImg{

background-color: var(--SecondaryColor);

}
.d-flex{
display: flex;
}
.align-c{
align-items: center;
}
.space-between{
justify-content: space-between;
}
.Search-Box{
    border: none;
outline: none;

}
.padding-top1{
    padding-top: 5px ;
}
.padding-top2{
    padding-top: 10px ;
}
.padding-top3{
    padding-top: 15px ;
}
.padding-top-button-8px{
    padding: 8px 4px ;
}
