*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{

--MainColor :#0D0E43 ;
--SecondaryColor:#FB2E86;
--MainFont: "Lato", sans-serif;
}
.container{
width: calc(100% - 220px);
margin:auto;
}
header{
    font-family: var(--MainFont);
    padding: 3px;
  
    align-items: center;
}
.h2{
    color: var(--MainColor);
}
.row
{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.btn{
    font-family: var(--MainFont);
    border: none;
    outline: none;
color: white;
background-color: var(--MainColor);
padding : 16px 40px;
}

nav ul{
    
    display: flex;
gap :36px;
}
li{

    list-style: none;
}
li a{
    text-decoration: none;
}
li a{
color: var(--MainColor);

}
li a.Home{
    color: var(--SecondaryColor);
}
.SearchImg{

background-color: var(--SecondaryColor);

}
.d-flex{
display: flex;
}
.align-c{
align-items: center;
}
.flex-col{
    flex-direction: column;
}
.align-start{
align-items: flex-start;
}
.align-stretch{
    align-items: stretch;
}
.space-between{
justify-content: space-between;
}
.Search-Box{
    border: none;
outline: none;

}
.padding-top1{
    padding-top: 5px ;
}
.padding-top2{
    padding-top: 10px ;
}
.padding-top3{
    padding-top: 15px ;
}
.gap30px{
    gap: 30px;
}
.padding-top-button-8px{
    padding: 8px 4px ;
}
.menu{
    display: none;
}
@media screen and ( max-width: 670px) {
.nav-list{
    display: none;
}
.menu{
    display: block;
}
    
}
footer{
    background-color: #EEEFFB;
}
.margin-right{
    margin-right: auto ;
}
.sign-up-Box {
    padding: 10px 0;
    border: none;
    outline: none;
}
.align-left{
    text-align: left;
}