.search{
    border: solid 1px #E7E6EF;
    border-radius: 4px;
}
footer h2 {
  font-size: 18px;
  color: var(--MainColor);
  margin-bottom: 15px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  text-decoration: none;
  color: #4A4A4A;          
  font-size: 14px;}
/*start featured product*/
.img-hover{
display: none;  

}

.featured-product{
  padding: 50px 0px;
}
.featured-product .row{
justify-content: flex-start;
gap: 15px;
flex-wrap: wrap;
}

.featured-product .product{
flex: 1 0 300px;
  box-shadow: 0px 4px 4px #00000040;

}
.product .img{
  background-color: #F6F7FB;
padding:30px;
border-radius: 4px;
height: 200px;

}
.product-details{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: .8s;
}

.product h3{
color: var(--SecondaryColor);  
}
.product span{
  color: var(--MainColor);
}
.links a{
text-decoration: none;
padding: 50px 0px ;
color: #151875;
transition:all .3s;
}
@media  screen and (max-width :500px ) {
  a {
    display: none;
  }
  
}
.pr-img{
  width: 287px;
  height: 270px;
} 
/* start leatset*/
.product-leatset h3{
color: #151875;
}
.product-leatset .old-price{
  color: red;
  text-decoration: line-through;
}
.links a:hover{
  color: #F701A8;
  text-decoration: underline;
}

.color{
  width: 14px;
  height: 4px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor:pointer;
}
.color-one {
  background-color: #05E6B7;
}

.color-two {
  background-color: #F701A8;
}

.color-three {
  background-color: #FFEAC1;
}
.product-details h3{
    transition: all 0.8 ;
}
.product-details span{
    transition: all .8s;
}
.product .img{
    transition: all .3s ease-in-out;
  }
.Hover-Button {
  background-color: #00d563;  
  color: #fff;               
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: opacity 0.4s ease, transform 0.4s ease;
  
  
  position: absolute;
  bottom: 130px;
  left: 50%;
  z-index: 1;
}


.product:hover .Hover-Button {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) scale(1);
}


.product .Hover-Imgs{
  top: 20px;
  left: 10px;
  z-index: 1;
  
    display: none;
    
   
  }
.product:hover .product-details{
  background-color: #2F1AC4;
 border-radius: 8px;
}

.product:hover .Hover-Imgs{
  display: block;
  
}
.product:hover  .product-details h3{
  color: white;
}
.product:hover .product-details span{
  color:  white;
}

.product:hover .img{
 transform: scale(0.7);
 background-color: white;
}

/*end featured products*/
/*start leatset*/
.product-leatset:hover .img-hover{
  display: flex;
flex-direction: column;
top: 150px;

}
.product-img-leatset{
  transition: 0.3s;
  background-color: #F7F7F7;
}
.product-leatset:hover .product-img-leatset{
transform: scale(0.7);

}
.Sale{
  display: none;
  top: -8px;
  left:-11px;
}
.product-leatset:hover .Sale{
  display: flex;
}
/*end letset*/
/*start trending product*/



/*end trending product*/
/* start newsletter*/

.newsletter{
  background-image: url(./../img/Rectangle\ 102.png);
  padding: 150px 0px;
  
}
.newsletter h2{
color: #151875;

}
.newsletter .btn{
  background-color: var(--SecondaryColor);
}
.newsletter a{
  color: #E7E6EF;
text-decoration: none;

}
.newsletter .btn{
  
  transition: .5s;
 border-radius: 11px;
}
.newsletter .btn:hover{
 background-color: var(--MainColor);
 transform: scale(1.2);
}
.right-side {
  gap: 60px; 
}

 .footer nav a{
  color: #8A8FB9;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover{
  color: #151875;
 
}
.right-side{
  
   width: calc((100% -30) / 2);
}
.footer .left-side img{
  display: block;       
  margin-left: 0;
 
  width: calc((100% -30) / 2);
}
.footer .right-side .row{
  gap :45px;
}
.footer .item{
  width : calc((100% -90) / 2);
}
.footer .img{
  align-items: start;
}
@media screen and (max-width : 992px){
  .footer .row{
    flex-direction: column;
  
  }
  .left-side{
    width: 100%;
    
  }
  .right-side{
    width: 100%;
  }
  
}