.search{
    border: solid 1px #E7E6EF;
    border-radius: 4px;
}
footer h2 {
  font-size: 18px;
  color: var(--MainColor);
  margin-bottom: 15px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  text-decoration: none;
  color: #4A4A4A;          
  font-size: 14px;

}
.newsletter{
  background-image: url(./../img/Rectangle\ 102.png);
  padding: 150px 0px;
  
}
.newsletter h2{
color: #151875;

}
.newsletter .btn{
  background-color: var(--SecondaryColor);
}
.newsletter a{
  color: #E7E6EF;
text-decoration: none;

}
.newsletter .btn{
  
  transition: .5s;
 border-radius: 11px;
}
.newsletter .btn:hover{
 background-color: var(--MainColor);
 transform: scale(1.2);
}
.right-side {
  gap: 60px; 
}

